body{
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #242529;
  color: white;
  font-size: 1em;

  display: flex;

}

.Display{
  width: 100vw;
  height: 100vh;
}


